<h1>
<%= image_tag "#{AppConfig[:frontend_prefix]}assets/cuhk/as_banner.jpg", usemap: "#Map", :alt => I18n.t("brand.title") %>
  <map name="Map" id="Map">
    <area shape="rect" coords="8,8,87,72" href="http://www.cuhk.edu.hk/" target="_new" />
    <area shape="rect" coords="94,8,160,72" href="http://www.lib.cuhk.edu.hk/en" target="_new" />
  </map>
</h1>

