.statistics-report-page {
    width: 1200px;
    height: 825px;
    margin: auto;
    overflow-y: hidden;
}
.report-remarks::before {
    content: "* ";
}
.report-remarks {
    content: "* ";
    font-size: 0.8em;
    color: #6d1b6d;
}
.statistics-bar {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
.icon-highlight {
    color: #0068bc;
}
.record-toolbar {
    overflow: inherit;
}
body.show-env-label {
    padding-top: 30px;
}

div.env-label {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #00629B;
    color: #FFFF00;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    z-index: 16777271;
    pointer-events: none;
}
