.statistics-report-page {
    width: 1200px;
    height: 825px;
    margin: auto;
    overflow-y: hidden;
}
.report-remarks::before {
    content: "* ";
}
.report-remarks {
    content: "* ";
    font-size: 0.8em;
    color: #6d1b6d;
}
.statistics-bar {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
.icon-highlight {
    color: #0068bc;
}
