<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items">
          <% if AppConfig[:enable_frontend] %>
            <a href="http://www.lib.cuhk.edu.hk/en" target="_new" >CUHK Library</a> |
          <% end %>
         <a href="http://www.lib.cuhk.edu.hk/en/libraries/ul/spc" target="_new" >Special Collections</a>
         | <%= ASConstants.VERSION %>
        </p>
     </div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<% if AppConfig[:google_analytics_tracking_id] %>
  <script async src='<%= "https://www.googletagmanager.com/gtag/js?id=" + AppConfig[:google_analytics_tracking_id] %>'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= AppConfig[:google_analytics_tracking_id] %>');
  </script>
<% end %>
