#header>.row {
    border-color: #6d1b6d;
}

h1 {
    color: #6d1b6d;
}

h2 {
    color: #5B165B;
}

h3 {
    color: #400640;
}

.top-bar {
    background: #FFFFFF !important;
    border-top: 1px solid #6d1b6d;
    border-bottom: 0.0625rem solid #6d1b6d;
    float: none !important;
}

.navbar-default .navbar-nav>li>a {
    color: #6d1b6d;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
    color: #6d1b6d;
    text-decoration: none !important;
    opacity: .75;
}

a {
    color: #903090;
}

a:hover,
a:active,
a:focus {
    color: #903090 !important;
    text-decoration: none !important;
    opacity: .75;
}

.panel-footer {
    background-color: #FFFFFF;
}

.btn-primary {
    color: #fff;
    background-color: #6d1b6d;
    border-color: #6d1b6d;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    color: #fff;
    background-color: #6d1b6d !important;
    border-color: #6d1b6d !important;
    opacity: .75;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #6d1b6d;
}

.search {
    margin-bottom: 20px;
}

.carousel {
    max-width: 400px;
}

.arousel-control {}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-bottom: 0px;
}

.carousel-indicators li {
    background-color: #999999;
    opacity: 0.5;
    border: 0px;
    border-radius: 0px;
    width: 15px;
    height: 5px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.carousel-indicators .active {
    background-color: #6d1b6d;
    opacity: 1;
    border: 0px;
    border-radius: 0px;
    width: 15px;
    height: 5px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.readmore.expanded .more {
    display: block;
}

@media screen and (max-width: 1120px) {
    .search .form-inline {
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .welcome-content {
        width: 100%;
    }
    .welcome-carousel {
        width: 100%;
    }
    .carousel {
        margin: 0 auto;
        width: 400px;
    }
}