<%
@system_status = AppConfig[:system_status] if AppConfig.has_key?(:system_status)
css_class = { :success_message=>'alert-success', :warning_message=>'alert-warning', :error_message=>'alert-danger', :info_message=>'alert-info' }
%>

<% unless @system_status.nil? %>
    <% @system_status.each do |message_type, message_text| %>
        <% next if message_text.nil? || message_text.strip.empty? %>
        <div class="alert <%= css_class[message_type] %>">
            <%= sanitize message_text.force_encoding("UTF-8").html_safe %>
        </div>
    <% end %>
<% end %>
