<div class="row">
    <div class="col-md-12 record-pane" style="padding: 30px;">
        <h2>
            <%= I18n.t("plugins.statistics.title") %>
        </h2>
        <p class="report-remarks">
            <%= I18n.t("plugins.statistics.remarks") %>
        </p>
        <div class="report-pane">
            <% if @urls && @urls.any? %>
                <% @urls.each do |url| %>
                    <div class="statistics-report-page">
                        <iframe width="1200px" height="850px" src="<%= url %>" frameborder="0" style="border:0">
                        </iframe>
                    </div>
                <% end %>
            <% else %>
                <%= I18n.t("plugins.statistics.report_urls_not_defined") %>
            <% end %>
        </div>
    </div>
</div>